{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 6000,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
